@{Layout = "_Layout";}

@using Pierre.Models;

<div class="card">
  <div class="card-header">
    <h3>Flavors</h3>
  </div>
  <div class="card-body">
    <p class="card-text">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">@Html.ActionLink("➕", "Create")</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col"data-sortable="true">Flavor</th>
            <th scope="col"data-sortable="true">Treats</th>
          </tr>
        </thead>
        <tbody>
          @if (@Model.Count == 0 ) {
            <tr>
              <th scope="row"></th>
              <td colspan="6"><em>No flavors have been added yet</em></td>
          </tr>
          } 
          @foreach(Flavor flavor in Model) {
            <tr>
              <th scope="row"></th>
              <td>
                @Html.ActionLink("✏️", "Edit", new {id = flavor.FlavorId})
              </td>
              <td>
                @using(@Html.BeginForm("Delete", "Flavors")) {
                  @Html.Hidden("id", flavor.FlavorId)
                  <button type="submit" class="btn btn-default">🗑</button>
                }
              </td>
              <td>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new {id= flavor.FlavorId})</td>
              <td>
                @if(@ViewBag.Count == 0) {
                  <em>No treats have been added</em>
                } 
                @foreach(var join in flavor.JoinEntities) { 
                  @join.Treat.Name 
                  <br>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </p>
  </div>
</div>